{% extends "base.html" %}
{% block title %}libinjection days since last bypass{% end %}
{% block body %}
<p style="font-size: 64pt;margin:0px;padding:0px">
libinjection has worked
<span style="font-family: monaco,sans-serif; background: #ddd; padding: 10px">
{{ days }}
</span>
days without a bypass.</p>
<hr />
<table>
<tr><th>date</th><td>sqli</td><td>target</td><td>credit</td><td>fixed in</td></tr>

<tr>
<td>2013-07-29</td>
<td><a href="/diagnostics?id=%28select+1+foo%29+union+select+load_file%28%27foo%27%29%3B">diagnostics</a></td>
<td>generic</td>
<td>@FluxReiners</td>
<td>3.4.2</td>
</tr>

<tr>
<td>2013-07-18</td>
<td><a href="/diagnostics?id=-1+procedure+analyse(1gfsdgfds,+sfg)+union+select+table_name+from+information_schema.tables+limit+1">diagnostics</a></td>
<td>MySQL Only</td>
<td>@LightOS</td>
<td>3.4.1</td>
</tr>

<tr>
<td>2013-07-17</td>
<td><a href="/diagnostics?id=%281%29mod+%40a+or+1+union+select+load_file%28%27%2Fetc%2Fpasswd%27%29%2Ccredit_card%2Cpasswd+from+users--+-">diagnostics</a>
<td>generic</td>
<td>@FluxReiners</td>
<td>3.4.0</td>
</tr>

<tr>
<td>2013-07-05</td>
<td><a href="/diagnostics?id=-0b01%20for%20update+union+select+table_name+from+information_schema.tables+limit+1&type=fingerprints">diagnostics</a></td>
<td>generic</td>
<td>@LightOS</td>
<td>3.2.0</td>
</tr>

<tr>
<td>2013-07-05</td>
<td><a href="/diagnostics?id=-1.for+update+union+select+table_name+from+information_schema.tables+limit+1">diagnostics</a></td>
<td>generic</td>
<td>@LightOS</td>
<td>3.2.0</td>
</tr>

<tr>
<td>2013-06-15</td>
<td><a href="/diagnostics?id=-%281%29+for+update++UNION+select+1">diagnostics</a></td>
<td>generic</td>
<td>coming soon</td>
<td>3.0.0pre19</td>
</tr>

<tr>
<td>2013-06-15</td>
<td><a href="/diagnostics?id=1+having+1+limit+1+union+select+1+--&type=fingerprints">diagnostics</a></td>
<td>generic</td>
<td>coming soon</td>
<td>3.0.0pre18</td>
</tr>
<tr>
<td>2013-06-14</td>
<td><a href="/diagnostics?id=1+and+%281+in+%280%29%29+union+select+1--&type=fingerprints">diagnostics</a></td>
<td>generic</td>
<td>anon</td>
<td>3.0.0pre17</td>
</tr>
<tr>
<td>2013-06-12</td>
<td><a href="/diagnostics?id=foo%27+Eqv+StrComp%28username%2C+0x12%2B0x34%2B0xab%2B0xcd%2C0%29+Imp+%27a&type=fingerprints">diagnostics</a></td>
<td>MS-Access</td>
<td><a href="https://twitter.com/ModSecurity">@ModSecurity</a></td>
<td>3.0.0pre14</td>
</tr>

<tr>
<td>2013-06-11</td>
<td><a href="/diagnostics?id=%28---+0%29%27%3D%28currenT_user%28%29-3%29+union+select+1%2C2%2C3+from+users%3B+--+-&type=fingerprints">diagnostics</a></td>
<td>MySQL 5</td>
<td><a href="https://twitter.com/st1ll_di3">@st1ll_di3</a></td>
<td>3.0.0pre14</td>
</tr>
</table>

<p>
Previously, evasions were found by:
</p>
<ul>
<li><a href="https://twitter.com/d0znpp">@d0znpp</a></li>
<li><a href="https://twitter.com/LightOS">@LightOS</a></li>
<li><a href="https://twitter.com/FluxReiners">@FluxReiners</a></li>
<li><a href="https://twitter.com/stamparm">@stamparm</a></li>
</ul>

<p>Thanks everyone. If you aren't listed, let us know.  Some people
not listed since communication was done privately.</p>

</ul>
{% end %}
