{% extends "base.html" %}
{% block body %}
<h1>
<a name="references" class="anchor" href="#references"><span class="octicon octicon-link"></span></a>References</h1>

<h2>
<a name="libinjection" class="anchor" href="#libinjection"><span class="octicon octicon-link"></span></a>libinjection</h2>

<p>Black Hat USA 2012-07-24
<a href="http://www.client9.com/2012/07/25/libinjection/">http://www.client9.com/2012/07/25/libinjection/</a></p>

<p>DEFCON 20
<a href="http://www.client9.com/2012/07/27/new-techniques-in-sql-obfuscation/">New Techniques in SQL Obfuscation</a></p>

<p>iSec Partners Open Forum
<a href="http://www.client9.com/2012/09/06/libinjection-new-techniques-in-detecting-sqli-attacks/">libinjection: New Techniques in Detecting SQLi Attacks</a></p>

<p>OWASP NYC 2012-09-27:
libinjection and SQLi Obfuscation</p>

<p>RSA USA: 2013-02-27:
<a href="http://www.client9.com/2013/02/27/sql-risc-new-directions-in-sqli-prevention/">SQL-RISC New Directions in SQLi Prevention</a></p>

<h2>
<a name="sqli" class="anchor" href="#sqli"><span class="octicon octicon-link"></span></a>SQLi</h2>

<h3>
<a name="sqli-references-and-cheatsheets" class="anchor" href="#sqli-references-and-cheatsheets"><span class="octicon octicon-link"></span></a>SQLi References and Cheatsheets</h3>

<p><a href="https://www.owasp.org/index.php/SQL_Injection">OWASP SQLi Introduction</a></p>

<h3>
<a name="sqli-detection" class="anchor" href="#sqli-detection"><span class="octicon octicon-link"></span></a>SQLi Detection</h3>

<p><a href="http://es.slideshare.net/hashdays/hashdays-2011-christian-bockermann-protecting-databases-with-trees">Protecting Databases with Trees</a></p>

<p>Another Tree-based approached by Christian Bockerman, 2011 at
"HashDays 2011".  Note last slide "Writing SQL parsers is hard"</p>

<h2>
<a name="xss" class="anchor" href="#xss"><span class="octicon octicon-link"></span></a>XSS</h2>

<p><a href="https://www.owasp.org/index.php/XSS_Filter_Evasion_Cheat_Sheet">OWASP XSS Filter Evasion Cheat Sheet</a></p>

<p><a href="http://xss.cx/examples/ie/internet-exploror-ie9-xss-filter-rules-example-regexp-mshtmldll.txt">IE's regular expressions XSS filters</a></p>

<p><a href="http://stackoverflow.com/questions/1732348/regex-match-open-tags-except-xhtml-self-contained-tags/1732454#1732454">Stackover on parsing XHTML with Regular Expressions</a>
Comedy Gold</p>

<p><a href="http://security.stackexchange.com/questions/34088/is-there-a-way-to-bypass-djangos-xss-escaping-with-unicode">StackExchange Discussion on Django's output filters</a></p>{% end %}
