{% extends "base.html" %}
{% block body %}
<h1>
<a name="libinjection-sqli-false-negatives" class="anchor" href="#libinjection-sqli-false-negatives"><span class="octicon octicon-link"></span></a>libinjection SQLi False Negatives</h1>

<p>Here are some common reasons why a 'false negative' might be occurring:</p>

<h3>
<a name="input-isnt-valid-sql" class="anchor" href="#input-isnt-valid-sql"><span class="octicon octicon-link"></span></a>Input isn't valid SQL</h3>

<p>If the input is unlikely to be a valid SQL fragment, then
libinjection will not mark it as SQLi.  In other words, if it won't
successfully execute an attack, it's not marked as SQLi.  It will likely
cause a syntax error or some other error in the database and those
can be detected in a different way.</p>

<p>Many SQLi scanners emit invalid SQL or broken SQL, and it's very easy
to make invalid SQL if you are manually hacking.</p>

<p>This may be unlike other WAFs you have that used that do "if it looks
like SQLi, then it is SQLi".  libinjection actually checks to make
sure it <em>is</em> sql.</p>

<p>There are a few invalid SQLi inputs that are detected anyway, mostly
as a preventative measure in case of coding mistakes or incomplete SQL
parsing.</p>

<h3>
<a name="url-decoding-problems-and-use-of-" class="anchor" href="#url-decoding-problems-and-use-of-"><span class="octicon octicon-link"></span></a>URL-decoding problems and use of '+'</h3>

<p>If modifying the query string directly, please check to make sure that
'+' are being correctly being decoded into '+' and not a space
character.  When this happens, the SQL is frequently modified into
something that will cause a syntax error and will not be detected.
Try changing the use of '+' to '-' and see if this helps.</p>

<h3>
<a name="use-of-fancy-unicode-quotes" class="anchor" href="#use-of-fancy-unicode-quotes"><span class="octicon octicon-link"></span></a>Use of fancy unicode quotes</h3>

<p>A SQLi example that is cut-n-paste from a Wordpress site frequently
has fancy unicode quotes instead of normal single or double
quotes. For example, <a href="http://penturalabs.wordpress.com/2013/06/18/oracle-sqli-advisory-cve-2013-2397/">this report</a> has the SQLi <a href="/diagnostics?id=1%E2%80%B2%29+UNION+ALL+SELECT+%0D%0ACHR%2858%29+%7C%7C+CHR%28112%29+%7C%7C+CHR%28111%29+%7C%7C+CHR%28109%29+%7C%7C+CHR%2858%29+%7C%7C+CHR%2875%29+%7C%7C+CHR%2876%29+%7C%7C+CHR%2890%29+%7C%7C+CHR%2877%29+%7C%7C+CHR%2868%29+%7C%7C+CHR%2883%29+%7C%7C+CHR%2899%29+%7C%7C+CHR%2888%29+%7C%7C+CHR%28104%29+%7C%7C+CHR%28103%29+%7C%7C+CHR%2858%29+%7C%7C+CHR%2897%29+%7C%7C+CHR%28108%29+%7C%7C+CHR%28117%29+%7C%7C+CHR%2858%29%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL+FROM+DUAL+--">1</a>,
<a href="/diagnostics?id=1%E2%80%B2%29+UNION+ALL+SELECT+%0D%0ACHR%2858%29+%7C%7C+CHR%28112%29+%7C%7C+CHR%28111%29+%7C%7C+CHR%28109%29+%7C%7C+CHR%2858%29+%7C%7C+CHR%2875%29+%7C%7C+CHR%2876%29+%7C%7C+CHR%2890%29+%7C%7C+CHR%2877%29+%7C%7C+CHR%2868%29+%7C%7C+CHR%2883%29+%7C%7C+CHR%2899%29+%7C%7C+CHR%2888%29+%7C%7C+CHR%28104%29+%7C%7C+CHR%28103%29+%7C%7C+CHR%2858%29+%7C%7C+CHR%2897%29+%7C%7C+CHR%28108%29+%7C%7C+CHR%28117%29+%7C%7C+CHR%2858%29%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL+FROM+DUAL+--">2</a> that start with:</p>

<pre><code>1′) UNION ALL SELET
</code></pre>

<p>Note the Unicode character -- that's not a ASCII " or a '. These
alternative quotes are not recognized by any SQL engine.  Converting
the Unicode quotes to single or double quote normally allows detection
to proceed normally.  For example, the corrected queries <a href="/diagnostics?id=1%27%29+UNION+ALL+SELECT+%0D%0ACHR%2858%29+%7C%7C+CHR%28112%29+%7C%7C+CHR%28111%29+%7C%7C+CHR%28109%29+%7C%7C+CHR%2858%29+%7C%7C+CHR%2875%29+%7C%7C+CHR%2876%29+%7C%7C+CHR%2890%29+%7C%7C+CHR%2877%29+%7C%7C+CHR%2868%29+%7C%7C+CHR%2883%29+%7C%7C+CHR%2899%29+%7C%7C+CHR%2888%29+%7C%7C+CHR%28104%29+%7C%7C+CHR%28103%29+%7C%7C+CHR%2858%29+%7C%7C+CHR%2897%29+%7C%7C+CHR%28108%29+%7C%7C+CHR%28117%29+%7C%7C+CHR%2858%29%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL%2C+NULL+FROM+DUAL+--">1</a>,
<a href="/diagnostics?id=1%27%29+AND+1684%3DDBMS_PIPE.RECEIVE_MESSAGE%28CHR%2875%29+%7C%7C+CHR%28106%29+%7C%7C+CHR%2890%29+%7C%7C+CHR%28100%29%2C5%29+AND+%28%27TGzC%27%3D%27TGzC%27">2</a> are detected correctly.</p>

<h3>
<a name="the-sqli-is-really-short" class="anchor" href="#the-sqli-is-really-short"><span class="octicon octicon-link"></span></a>The SQLi is really short</h3>

<p>A few very short SQLi might not be detected due to a high
incidence of false positives, or inability to tell if the input is
malicious or just normal input.  Most of these SQLi examples are
fairly benign and not interesting.</p>

<h3>
<a name="you-found-a-true-bypass" class="anchor" href="#you-found-a-true-bypass"><span class="octicon octicon-link"></span></a>You found a true bypass!</h3>

<p>Congratulations.  Please tell us more using the <a href="#how_do_i_report_a_bypass">next section</a>.</p>

<h2>
<a name="how-do-i-report-a-bypass" class="anchor" href="#how-do-i-report-a-bypass"><span class="octicon octicon-link"></span></a>How do I report a bypass?</h2>

<p>The best way is filing a bug report on <a href="https://github.com/client9/libinjection/issues">GitHub</a>, or a new
message on <a href="https://groups.google.com/d/forum/libinjection">Google Groups</a>.</p>

<p>Please include:</p>

<ul>
<li>The database and database version you think you are using.</li>
<li>The full SQL query with your injection.</li>
<li>Any information character encoding (is this UTF-8? or something else)</li>
<li>Your twitter or other contact details if your want <a href="/bypass">public credit</a>.</li>
</ul><p>Ideally you can cut-n-paste the output from the database.</p>

<p>Thanks!</p>{% end %}
