{% extends "base.html" %}
{% block body %}
<h1 id='sqli_references'>SQLI References</h1>

<p><a href='https://www.owasp.org/index.php/SQL_Injection'>OWASP SQLi Introduction</a></p>

<p><a href='http://es.slideshare.net/hashdays/hashdays-2011-christian-bockermann-protecting-databases-with-trees'>Protecting Databases with Trees</a></p>

<p>Another Tree-based approached by Christian Bockerman, 2011 at &#8220;HashDays 2011&#8221;. Note last slide &#8220;Writing SQL parsers is hard&#8221;</p>
{% end %}
