{% extends "base.html" %}
{% block body %}
<h1>
<a name="sqli-references" class="anchor" href="#sqli-references"><span class="octicon octicon-link"></span></a>SQLi References</h1>

<h2>
<a name="sqli-references-and-cheatsheets" class="anchor" href="#sqli-references-and-cheatsheets"><span class="octicon octicon-link"></span></a>SQLi References and Cheatsheets</h2>

<p><a href="https://www.owasp.org/index.php/SQL_Injection">OWASP SQLi Introduction</a></p>

<h2>
<a name="sqli-detection" class="anchor" href="#sqli-detection"><span class="octicon octicon-link"></span></a>SQLi Detection</h2>

<p><em>Stephen W. Boyd and Angelos D. Keromytis, <a href="http://www1.cs.columbia.edu/%7Eangelos/Papers/sqlrand.pdf">SQLrand: Preventing SQL Injection Attacks</a>, Proceedings of the 2nd Applied Cryptography and Network Security (ACNS) Conference, 2004</em></p>

<p>Summary: The client rewrites all SQL queries by appending a fixed
number, e.g. <code>SELECT</code> becomes <code>SELECT123</code>.  A proxy in front of the
databases parses the incoming query using this new set of keywords.
If there is a syntax error then someone is inserting SQL.  For
example:</p>

<pre><code>SELECT * FROM atable WHERE id=$id
</code></pre>

<p>becomes</p>

<pre><code>SELECT123 * FROM123 atable WHERE123 id=$id
</code></pre>

<p>A simple attack might look like:</p>

<pre><code>SELECT123 * FROM123 atable WHERE123 id= 1 UNION SELECT 1
</code></pre>

<p>The injection <code>1 UNION SELECT 1</code> now isn't using the new keywords, so
when the proxy parses it becomes a syntax error.  In otherwords, the
new query is effectively like this:</p>

<pre><code>SELECT * FROM atable WHERE id= 1 blah foo 1
</code></pre>

<p>which won't execute.  The proxy then blocks this request.  Otherwise
it passes it back to the database.</p>

<p>No sample code released.</p>

<p>This requires rewritting all queries in the application,
installing a new proxy between your clients and database.</p>

<hr><p>Robert J. Hansen, Meredith L. Patterson, <a href="http://www.blackhat.com/presentations/bh-usa-05/BH_US_05-Hansen-Patterson/HP2005.pdf">Guns and Butter: Towards Formal Axioms of Input Validation</a>, presentation at Black Hat 2005, 2005-06-30</p>

<p>Key points:</p>

<ul>
<li>Using regular expressions to parse a high-order language will always produce false-positives and false-negatives</li>
<li>Uses a tree based a approach to detect when user input changes the SQLi structure.</li>
<li>POC implementaton done using psql parser <a href="http://sourceforge.net/projects/libdejector/">http://sourceforge.net/projects/libdejector/</a>
</li>
</ul><hr><p>Gregory T. Buehrer , Bruce W. Weide , Paolo A. G. Sivilotti, <a href="http://www.cse.ohio-state.edu/%7Epaolo/research/publications/sem05.pdf">Using parse tree validation to prevent SQL injection attacks</a>, Proceedings of the International Workshop on Software Engineering and Middleware (SEM) at Joint FSE and ESEC, 2005.</p>

<p>Slides: <a href="http://www.cse.ohio-state.edu/%7Epaolo/research/publications/sem05_talk.pdf">http://www.cse.ohio-state.edu/~paolo/research/publications/sem05_talk.pdf</a></p>

<p>Software in Java: <a href="http://www.cse.ohio-state.edu/%7Epaolo/software/">http://www.cse.ohio-state.edu/~paolo/software/</a>,  uses <a href="http://zql.sourceforge.net/">http://zql.sourceforge.net/</a></p>

<p>You create SQL statements using</p>

<pre><code>String q= "SELECT * FROM reports WHERE id = " + id;
</code></pre>

<p>One would do:</p>

<pre><code>String q = SQLGuard.init() + "SELECT * FROM reports WHERE id = " + SQLGuard.wrap(id);
</code></pre>

<p>On execution it will create a parse tree of the original query
template and compare it to the new query.  If it doesn't match, it is
SQLi.</p>

<p>This requires rewriting all queries and using a new JDBC driver.  In
addition, I'm not sure how it actually prevents this development error:</p>

<pre><code>String q = SQLGuard.init() + "SELECT * FROM reports WHERE id = " + id;
</code></pre>

<hr><p>W. Halfond and A. Orso, <a href="http://www-bcf.usc.edu/%7Ehalfond/papers/halfond05ase.pdf">AMNESIA: Analysis and Monitoring for NEutralizing SQL-Injection Attacks</a>, Automated Software Engineering, 2005</p>

<p>Homepage: <a href="http://www-bcf.usc.edu/%7Ehalfond/amnesia.html">http://www-bcf.usc.edu/~halfond/amnesia.html</a></p>

<p>This appears to use static analysis to indentify SQL query creation
points ("hotspots") in Java code.  It then instruments the code to do
tree analysis before and after user input.</p>

<p>This appears to require no change in the development process (that's good),
and only adding a compile step (?).  Worth investigating more.</p>

<hr><p>Christian Bockerman <a href="http://es.slideshare.net/hashdays/hashdays-2011-christian-bockermann-protecting-databases-with-trees">Protecting Databases with Trees</a>, presentation at HashDays 2011.</p>

<p>Another Tree-based with additional statistics and training.  Note last slide "Writing SQL parsers is hard"</p>

<hr>{% end %}
