{% extends "base.html" %}
{% block body %}
<h1>
<a name="libinjection-python-api" class="anchor" href="#libinjection-python-api"><span class="octicon octicon-link"></span></a>libinjection python API</h1>

<p>The python API follows C API exactly, and you have full access to all
data structures.  It's not that complicated, but it is also not very
pythonic. Future versions of the API will likely include some object
wrapper to make it more simple and prevent bugs.</p>

<p>You should get nearly 400,000 checks per second using the python API.</p>

<h2>
<a name="install-the-python-module" class="anchor" href="#install-the-python-module"><span class="octicon octicon-link"></span></a>Install the python module</h2>

<pre><code>git clone https://github.com/client9/libinjection.git
cd libinjection/python
python setup.py install
</code></pre>

<p>Note, if for some reason it does work for you, install
<a href="http://www.swig.org">swig</a>, and type <code>make</code></p>

<h2>
<a name="using-libinjection" class="anchor" href="#using-libinjection"><span class="octicon octicon-link"></span></a>Using libinjection</h2>

<div class="highlight"><pre><span class="kn">from</span> <span class="nn">libinjection</span> <span class="kn">import</span> <span class="o">*</span>

<span class="c"># create the data object</span>
<span class="n">s</span> <span class="o">=</span> <span class="n">sqli_state</span><span class="p">()</span>

<span class="c"># initialize it</span>
<span class="c"># last arg should be 0 for now.</span>
<span class="n">astr</span> <span class="o">=</span> <span class="s">"1 UNION ALL SELECT 1"</span>
<span class="n">sqli_init</span><span class="p">(</span><span class="n">s</span><span class="p">,</span> <span class="n">astr</span><span class="p">,</span> <span class="mi">0</span><span class="p">)</span>

<span class="c"># check!  return 1 = is sql, 0 is not sqli</span>
<span class="n">issqli</span> <span class="o">=</span> <span class="n">is_sqli</span><span class="p">(</span><span class="n">s</span><span class="p">)</span>

<span class="c"># you might wish to turn it into a bool by doing</span>
<span class="c"># issqli = bool(is_sqli(s))</span>

<span class="c"># if it's true, then you can get the SQLi fingerprint</span>
<span class="c"># by looking in the state object</span>

<span class="k">print</span> <span class="n">s</span><span class="o">.</span><span class="n">fingerprint</span>

<span class="c"># reset and do it again</span>
<span class="c">#   again last argument should be 0</span>
<span class="n">astr</span> <span class="o">=</span> <span class="s">"here's a new input"</span>
<span class="n">sqli_reset</span><span class="p">(</span><span class="n">s</span><span class="p">,</span> <span class="n">astr</span><span class="p">,</span> <span class="mi">0</span><span class="p">)</span>

<span class="n">is_sqli</span><span class="p">(</span><span class="n">s</span><span class="p">)</span>

</pre></div>

<h2>
<a name="warning" class="anchor" href="#warning"><span class="octicon octicon-link"></span></a>warning</h2>

<p>This is probably a bug, but for now, the input string must not change
or get destroyed between the <code>sqli_init</code> (or <code>sqli_reset</code>) call and when
you call <code>is_sqli</code>.  While annoying, this prevents libinjection from
having to make an internal copy of the string, which would slow things down.</p>

<p>The following example might crash:</p>

<div class="highlight"><pre><span class="n">s</span> <span class="o">=</span> <span class="n">sqli_state</span><span class="p">()</span>

<span class="n">astr</span> <span class="o">=</span> <span class="s">"something"</span>
<span class="n">sqli_init</span><span class="p">(</span><span class="n">s</span><span class="p">,</span> <span class="n">astr</span><span class="p">,</span> <span class="mi">0</span><span class="p">)</span>

<span class="n">astr</span> <span class="o">=</span> <span class="bp">None</span>

<span class="n">is_sqli</span><span class="p">(</span><span class="n">s</span><span class="p">)</span>
</pre></div>

<h2>
<a name="advanced-callbacks" class="anchor" href="#advanced-callbacks"><span class="octicon octicon-link"></span></a>Advanced Callbacks</h2>

<p>By default, libinjection's SQLi module has a built-in list of
known-sql tokens and known SQLi fingerprints.  Using the callback
functionality, you are able to replace and change this list.</p>

<p>This allows an application to distribute a new SQL token and SQLi
fingerprint list without the end-user doing a full libinjection
upgrade.</p>

<p>Unfortunately, by using the callbacks, the performance drops by over
50%.  Still, it may be useful in some situations.</p>

<p>The current unit-test driver uses this callback, and it's maybe
easiest explaining it with code.</p>

<p>A small program <code>json2python.py</code> converts the raw JSON file
containing all the data the C program uses into python.  To
use it:</p>

<pre><code>cd libinjection/python
make words.py
</code></pre>

<p>The output file <code>words.py</code> starts like this:</p>

<pre><code>import libinjection

def lookup(state, stype, keyword):
    keyword = keyword.upper()
    if stype == libinjection.LOOKUP_FINGERPRINT:
        if keyword in fingerprints and libinjection.sqli_not_whitelist(state):
            return 'F'
        else:
            return chr(0)
    return words.get(keyword, chr(0))
</code></pre>

<p>The input is:</p>

<ul>
<li>
<code>sqli_state</code> object</li>
<li>a lookup type.  The only value that matter is <code>libinjection.LOOKUP_FINGERPRINT</code>
</li>
<li>the word to look-up</li>
</ul><p>The output is a string of length 1 (a single character).  If it's "\0" (i.e. <code>chr(0)</code>), then
it means "nothing matched" or "not found"</p>

<p>This is likely to change in version 4 of libinjection to be nicer but, today,
this is what it is.</p>

<p>Of note is this line:</p>

<div class="highlight"><pre><span class="k">if</span> <span class="n">keyword</span> <span class="ow">in</span> <span class="n">fingerprints</span> <span class="ow">and</span> <span class="n">libinjection</span><span class="o">.</span><span class="n">sqli_not_whitelist</span><span class="p">(</span><span class="n">state</span><span class="p">):</span>
</pre></div>

<p>The C version of the code contains some logic that removes false
positives from a few fingerprint types.  You can reuse this logic in
python by calling <code>sqli_not_whitelist</code> which returns <code>true</code> if it's
SQLi.  For more control, it is best to re-implement this logic in
python (and it is probably faster too).</p>

<p>Also, if your callback raises exceptions or doesn't follow the
API exactly, python is likely to crash.</p>{% end %}
