{% extends "base.html" %}
{% block body %}
<h1>
<a name="xss-references" class="anchor" href="#xss-references"><span class="octicon octicon-link"></span></a>XSS References</h1>

<p><a href="https://www.owasp.org/index.php/XSS_Filter_Evasion_Cheat_Sheet">OWASP XSS Filter Evasion Cheat Sheet</a></p>

<p><a href="http://xss.cx/examples/ie/internet-exploror-ie9-xss-filter-rules-example-regexp-mshtmldll.txt">IE's regular expressions XSS filters</a></p>

<p><a href="http://stackoverflow.com/questions/1732348/regex-match-open-tags-except-xhtml-self-contained-tags/1732454#1732454">Stackover on parsing XHTML with Regular Expressions</a>
Comedy Gold</p>

<p><a href="http://security.stackexchange.com/questions/34088/is-there-a-way-to-bypass-djangos-xss-escaping-with-unicode">StackExchange Discussion on Django's output filters</a></p>{% end %}
