{% extends "base.html" %}
{% block body %}
<h1>
<a name="libinjection-php-api" class="anchor" href="#libinjection-php-api"><span class="octicon octicon-link"></span></a>libinjection PHP API</h1>

<p>The libinjection PHP API provides full access to the functions
and data structions of the C API.  It's very low-level and not
very pretty, but it's also very easy to assemble higher level
functionality.</p>

<p><b>
Help wanted on packaging into a PEAR module and help with Mac OS X
</b></p>

<h2>
<a name="install-the-php-module" class="anchor" href="#install-the-php-module"><span class="octicon octicon-link"></span></a>Install the PHP module</h2>

<p>It should be as simple as:</p>

<div class="highlight highlight-bash"><pre>make
make <span class="nb">test</span>
make install
</pre></div>

<p>This produces libinjection module (<code>libinjection.so</code>) that is installed with other
PHP extensions.</p>

<p>To load the module, add the following to your <code>php.ini</code> file:</p>

<div class="highlight highlight-ini"><pre><span class="na">extension</span><span class="o">=</span><span class="s">libinjection.so</span>
</pre></div>

<p>Or you might be able to do:</p>

<div class="highlight highlight-php"><pre><span class="c1">// note may not work with PHP CLI without other</span>
<span class="c1">// configuration changes</span>
<span class="nx">dl_open</span><span class="p">(</span><span class="s1">'/path/to/libinjection.so'</span><span class="p">);</span>
</pre></div>

<p>You can do a quick test with:</p>

<div class="highlight highlight-php"><pre><span class="k">echo</span> <span class="nx">libinjection_version</span><span class="p">()</span> <span class="o">.</span> <span class="s2">"</span><span class="se">\n</span><span class="s2">"</span><span class="p">;</span>
</pre></div>

<h2>
<a name="using-libinjection" class="anchor" href="#using-libinjection"><span class="octicon octicon-link"></span></a>Using libinjection</h2>

<p>The basic flow is as follows:</p>

<div class="highlight highlight-php"><pre>
<span class="c1">// create a state object using a special function</span>
<span class="c1">// one does not use the 'new operator'</span>
<span class="c1">// this object can be reused.</span>
<span class="nv">$ss</span> <span class="o">=</span> <span class="nx">new_libinjection_sqli_state</span><span class="p">();</span>

<span class="c1">// one URL-decodes the input</span>
<span class="c1">// validates and normalizes the UTF-8</span>
<span class="nv">$arg</span> <span class="o">=</span> <span class="s2">"1 union select 1,2,3,4 --"</span><span class="p">;</span>

<span class="c1">// always 0 for now</span>
<span class="nv">$flags</span> <span class="o">=</span> <span class="mi">0</span><span class="p">;</span>

<span class="c1">//</span>
<span class="c1">// Prepare to do work</span>
<span class="c1">//</span>
<span class="nx">libinjection_sqli_init</span><span class="p">(</span><span class="nv">$ss</span><span class="p">,</span> <span class="nv">$arg</span><span class="p">,</span> <span class="nv">$flags</span><span class="p">);</span>

<span class="c1">//</span>
<span class="c1">// now check if SQLi</span>
<span class="c1">// returns</span>
<span class="c1">//   0 == safe input</span>
<span class="c1">//   1 == is sqli</span>
<span class="nv">$issqli</span> <span class="o">=</span> <span class="nx">libinjection_is_sqli</span><span class="p">(</span><span class="nv">$ss</span><span class="p">);</span>

<span class="nv">$fingerprint</span> <span class="o">=</span> <span class="s1">''</span><span class="p">;</span>
<span class="k">if</span> <span class="p">(</span><span class="nv">$issqli</span> <span class="o">==</span> <span class="mi">1</span><span class="p">)</span> <span class="p">{</span>
   <span class="nv">$fingerprint</span> <span class="o">=</span> <span class="nx">libinjection_sqli_state_fingerprint_get</span><span class="p">(</span><span class="nv">$x</span><span class="p">);</span>
<span class="p">}</span>

<span class="c1">// do something</span>

</pre></div>

<p>This flow can be wrapped into a simple class:</p>

<div class="highlight highlight-php"><pre><span class="k">class</span> <span class="nc">libinjection</span> <span class="p">{</span>
  <span class="k">public</span> <span class="nv">$_cPtr</span><span class="o">=</span><span class="k">null</span><span class="p">;</span>

  <span class="k">function</span> <span class="nf">__construct</span><span class="p">()</span> <span class="p">{</span>
     <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">_cPtr</span> <span class="o">=</span> <span class="nx">new_libinjection_sqli_state</span><span class="p">();</span>
  <span class="p">}</span>
  <span class="k">function</span> <span class="nf">is_sqli</span><span class="p">(</span><span class="nv">$arg</span><span class="p">)</span> <span class="p">{</span>
     <span class="nx">libinjection_sqli_init</span><span class="p">(</span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">_cPtr</span><span class="p">,</span> <span class="nv">$arg</span><span class="p">,</span> <span class="mi">0</span><span class="p">);</span>
     <span class="nv">$issqli</span> <span class="o">=</span> <span class="nx">libinjection_is_sqli</span><span class="p">(</span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">_cPtr</span><span class="p">);</span>

     <span class="nv">$fingerprint</span> <span class="o">=</span> <span class="s1">''</span><span class="p">;</span>
     <span class="k">if</span> <span class="p">(</span><span class="nv">$sqli</span> <span class="o">==</span> <span class="mi">1</span><span class="p">)</span> <span class="p">{</span>
         <span class="nv">$fingerprint</span> <span class="o">=</span> <span class="nx">libinjection_sqli_state_fingerprint_get</span><span class="p">(</span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">_cPtr</span><span class="p">);</span>
     <span class="p">}</span>
     <span class="k">return</span> <span class="nv">$fingerprint</span><span class="p">;</span>
  <span class="p">}</span>
<span class="p">};</span>

<span class="nv">$check</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">libinjection</span><span class="p">();</span>

<span class="nv">$fingerprint</span> <span class="o">=</span> <span class="nv">$check</span><span class="o">-&gt;</span><span class="na">is_sqli</span><span class="p">(</span><span class="s2">"1 union select 2 --"</span><span class="p">);</span>
<span class="k">if</span> <span class="p">(</span><span class="nv">$fingerprint</span><span class="p">)</span> <span class="p">{</span>
  <span class="c1">// it's sqli, do something</span>
<span class="p">}</span>
</pre></div>

<h2>
<a name="important-gotcha" class="anchor" href="#important-gotcha"><span class="octicon octicon-link"></span></a>Important Gotcha</h2>

<p>The binding between C and PHP is somewhat primitive and doesn't
add a reference count (?) to the input and so might vanish and
case a crash.</p>

<p>Foruntately it's easy to avoid and the fix is simple as shown below:</p>

<pre><code>// NO
$issqli = libinjection_is_sqli(trim($ss));

// YES
$ss = trim($ss);
$issqli = libinjection_is_sqli($ss);
</code></pre>

<p>In the future this requirement will go away.</p>

<h2>
<a name="using-libinjection-data-structures" class="anchor" href="#using-libinjection-data-structures"><span class="octicon octicon-link"></span></a>Using libinjection data structures</h2>

<p>The API to the data structure fields isn't pretty but it is easy.
Everything is in the form of <code>datastructurename-field-get</code>.  For
example <code>libinjection_sqli_state_slen_get</code> or
<code>libinjection_sqli_token_type_get</code>.</p>

<p>This is one exception, that is the <code>tokenvec</code> in
<code>libinjection_sqli_state</code>.  The <code>swig</code> doesn't appear to understand
static C arrays.  To access elements, use
<code>libinjection_sqli_state_tokenvec_geti</code> and pass in the state object,
and an index value (integer).</p>

<p>All the data structures are also read-only.</p>{% end %}
