{% extends "base.html" %}
{% block body %}
<h1>
<a name="libinjection-sqli-false-positives" class="anchor" href="#libinjection-sqli-false-positives"><span class="octicon octicon-link"></span></a>libinjection SQLi False Positives</h1>

<p>Some very benign looking queries are sometimes flagged as SQLi.  This
can be due to the nature of SQL, and how some databases process it.
As an example:</p>

<pre><code>I 'LIKE' YOU
</code></pre>

<p>could be considered SQLi and can be used to scan the contents of a
table (In this case it is the <code>LIKE</code> operator with two strings).</p>

<p>Fortunately, most false-positives like this are limited to a few
fingerprints and can be turned off without affecting detection of
other SQLi attacks.</p>

<h2>
<a name="how-to-do-i-turn-off-a-particular-fingerprint" class="anchor" href="#how-to-do-i-turn-off-a-particular-fingerprint"><span class="octicon octicon-link"></span></a>How to do I turn off a particular fingerprint</h2>

<p>TK</p>

<h2>
<a name="what-are-common-false-positives" class="anchor" href="#what-are-common-false-positives"><span class="octicon octicon-link"></span></a>What are common False Positives</h2>

<p>TK: Current False positives on Jenkins</p>

<h2>
<a name="how-do-i-report-a-false-positive" class="anchor" href="#how-do-i-report-a-false-positive"><span class="octicon octicon-link"></span></a>How do I report a false positive?</h2>

<p>The best way is by filling a bug report on <a href="https://github.com/client9/libinjection/issues">GitHub</a>, or a new message on <a href="https://groups.google.com/d/forum/libinjection">Google Groups</a>.</p>

<p>Please include:</p>

<ul>
<li>The WebServer and Platform you are using (some platforms alter characters)</li>
<li>The full query string</li>
<li>Any information you have on the character encoding (is this UTF-8? or something else?)</li>
<li>Your Twitter name or other contact details if your want <a href="/bypass">public credit</a>.</li>
</ul>{% end %}
