{% extends "base.html" %}
{% block body %}
<h1>
<a name="sqli-references" class="anchor" href="#sqli-references"><span class="octicon octicon-link"></span></a>SQLI References</h1>

<p><a href="https://www.owasp.org/index.php/SQL_Injection">OWASP SQLi Introduction</a></p>

<p><a href="http://es.slideshare.net/hashdays/hashdays-2011-christian-bockermann-protecting-databases-with-trees">Protecting Databases with Trees</a></p>

<p>Another Tree-based approached by Christian Bockerman, 2011 at
"HashDays 2011".  Note last slide "Writing SQL parsers is hard"</p>{% end %}
