{% extends "base.html" %}
{% block body %}
<h1>
<a name="libinjection-references" class="anchor" href="#libinjection-references"><span class="octicon octicon-link"></span></a>libinjection References</h1>

<p>Black Hat USA 2012-07-24
<a href="http://www.client9.com/2012/07/25/libinjection/">http://www.client9.com/2012/07/25/libinjection/</a></p>

<p>DEFCON 20
<a href="http://www.client9.com/2012/07/27/new-techniques-in-sql-obfuscation/">New Techniques in SQL Obfuscation</a></p>

<p>iSec Partners Open Forum
<a href="http://www.client9.com/2012/09/06/libinjection-new-techniques-in-detecting-sqli-attacks/">libinjection: New Techniques in Detecting SQLi Attacks</a></p>

<p>OWASP NYC 2012-09-27:
libinjection and SQLi Obfuscation</p>

<p>RSA USA: 2013-02-27:
<a href="http://www.client9.com/2013/02/27/sql-risc-new-directions-in-sqli-prevention/">SQL-RISC New Directions in SQLi Prevention</a></p>

<h2>
<a name="libinjection-mentions" class="anchor" href="#libinjection-mentions"><span class="octicon octicon-link"></span></a>libinjection mentions</h2>

<p><a href="http://www.reddit.com/r/netsec/comments/x5pmr/libinjection_c_library_to_detect_sqli_attacks/">Reddit</a>
sometime around 2012-07.</p>

<p><a href="http://www.nsai.it/2012/11/21/sql-injection-obfuscation-libinjection/">SQL Injection Obfuscation Libinjection</a> in <a href="http://www.nsai.it/">National Security Alert Italia</a>, 2012-11-21</p>{% end %}
