{% extends "base.html" %}
{% block body %}
<h1>
<a name="libinjection-documentation" class="anchor" href="#libinjection-documentation"><span class="octicon octicon-link"></span></a>libinjection documentation</h1>

<ul>
<li>C API (TBD)</li>
<li><a href="/doc-sqli-python">python api</a></li>
<li>lua api (TBD)</li>
<li><a href="/doc-sqli-false-positive">false positives</a></li>
<li><a href="/doc-sqli-false-negative">false negatives</a></li>
<li><a href="/doc-sqli-references">sqli references</a></li>
</ul>{% end %}
