{% extends "base.html" %}
{% block body %}
<h1>
<a name="libinjection-documentation" class="anchor" href="#libinjection-documentation"><span class="octicon octicon-link"></span></a>libinjection documentation</h1>

<ul>
<li>C API (TBD)</li>
<li><a href="/doc-sqli-php">php api</a></li>
<li><a href="/doc-sqli-python">python api</a></li>
<li>lua api (TBD, but mostly identical to python)</li>
<li><a href="/doc-sqli-false-positive">SQLi false positives</a></li>
<li><a href="/doc-sqli-false-negative">SQLi false negatives</a></li>
<li><a href="/doc-libinjection-references">libinjection references, presentations</a></li>
<li><a href="/doc-sqli-references">SQLi references</a></li>
<li><a href="/doc-xss-references">XSS references</a></li>
</ul>{% end %}
