<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>libinjection sqli diagnostic</title>
<meta name="viewport" content="width=device-width" />
<style>
body { font-family: sans-serif; width: 640px; }
textarea { width: 100% }
table { width: 100% }
td { font-family: monospace; vertical-align: top }
th { text-align: left }
.red { background: #FFEEEE }
.green { background: #EEFFEE }
</style>
</head>
<body>
<h1>libinjection {{ version }} diagnostics</h1>
<p>Enter text to be analyzed in form below or directly modify the query string: </p>
<form method="get">
<textarea name="id" rows="5">{{ formvalue }}</textarea><br/>
<input type="submit" value="submit"></input>
</form>
{% if len(args) %}
<h2>SQLi Detected: {{ is_sqli }}</h2>

<table>
<tr><th>name</th><th>value</th><th>sqli?</th><th>fingerprint</th></tr>
{% for arg in args %}
{% if arg[2] %}
<tr class="red">
{% else %}
<tr class="green">
{% end %}
<td>{{ arg[0] }}</td><td>{{ arg[1] }}</td><td>{{ arg[2] }}</td><td>{{ arg[3] }}</tr>
{% end %}
</table>
{% end %}

<h2>Notes:</h2>
<ul>

<li>The form is a convience for ad-hoc testing.  You can enter any
input you wish by directly modifying the query string (there is no
CSRF token)</li>

<li>All query string <i>values</i> are analyzed. Query string
parameter <i>names</i> are not.  This isn't a WAF but a diagnostic
tool for libinjection.</li>

<li>Input is URL-decoded <i>twice</i>, to help prevent cut-n-paste issues.</li>

<li>No attempt at processing hex or base64 encoded input is done.</li>

<li>For log processing or foresnic work, please contact client9 for
details.</li>

</ul>


</body>
</html>
