<!DOCTYPE HTML>
<HTML>
<HEAD>
<TITLE>libinjection CI Status</TITLE>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width" />
<meta name="format-detection" content="telephone=no">
<link rel="icon" type="image/gif" href="/static/favicon.gif" />
<style>
body { font-family: sans-serif; width: 640px; }
textarea { width: 100% }
table { width: 100% }
td { font-family: monospace; vertical-align: top }
th { text-align: left }
.red { background-color: #FFaaaa; overflow: hidden }
.green { background-color: #aaFFaa }
</style>
</HEAD>
<BODY>
<h1>libinjection CI Status</h1>

{% for project, jobs in status.iteritems() %}
<h2>{{ project }}</h2>
<TABLE>
{% for job in jobs %}
{% if job['state'] == 'fail' %}
<TR class='red'>
{% elif job['state'] == 'pass' %}
<TR class='green'>
{% else %}
<TR>
{% end %}
<TD>{{ job['job'] }}</TD>
<TD>{{ job['state'] }}</TD>
<TD>{{ job['ago'] }}</TD>
<TD>{{ job['duration'] }}</TD>
<TD>
{% for link,text in job['artifacts'] %}
<A HREF="{{ link }}">{{ text }}</A><BR/>
{% end %}
</TD>
</TR>
{% end %}
</TABLE>
{% end %}
<HR />
{{ ssl_protocol }} {{ ssl_cipher }}
</BODY>
</HTML>
