<!DOCTYPE html>
<HTML lang="en">
<HEAD>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="format-detection" content="telephone=no">
<TITLE>libinjection CI Status</TITLE>
<link rel="icon" type="image/gif" href="/static/favicon.gif" />

<!-- Bootstrap -->
<link href="/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

<style>
cicada-row { font-family: monospace; vertical-align: top }
</style>
</HEAD>
<BODY>
<div class="container">
<div class="header">
</div>
<h1>libinjection CI Status</h1>

{% for project, jobs in status.iteritems() %}
<h2>{{ project }}</h2>
<TABLE class="table table-condensed">
{% for job in jobs %}
{% if job['state'] == 'fail' %}
<TR class='danger cicada-row'>
{% elif job['state'] == 'running' %}
<TR class='active cicada-row'>
{% else %}
<TR class='cicada-row'>
{% end %}
<TD>{{ job['job'] }}</TD>
<TD>{{ job['state'] }}</TD>
<TD>{{ job['ago'] }}</TD>
<TD>{{ job['duration'] }}</TD>
<TD>
{% for link,text in job['artifacts'] %}
<A HREF="{{ link }}">{{ text }}</A><BR/>
{% end %}
</TD>
</TR>
{% end %}
</TABLE>
{% end %}

<div class="footer">
<p>
{{ ssl_protocol }} {{ ssl_cipher }}
</p>
</div>
</div> <!-- /container -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/jquery/jquery-1.10.2.min.js"></script>
<script src="/bootstrap/3.0.2/js/bootstrap.min.js"></script>
</body>
</html>
